body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
   /* hidden by default */
  background-color: #333;
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#scrollTopBtn:hover {
  background-color: #555;
}